NODE_ENV=development
PORT=5000

# Supabase PostgreSQL connection string
DATABASE_URL=postgresql://postgres:logisticApp@2026@db.sieacvrbvgsheenmzpgq.supabase.co:5432/postgres

JWT_SECRET=mXVlygUu/GK3wsUhlIT6E2m4frYFbAgonfoW5i+DiQJyzvpXYizrVYY6UsJgNUAcxiBO+Y7Gx0+dNPmkgzRtkg==
JWT_EXPIRES_IN=1d

# URL du service IA (ai-service)
AI_SERVICE_URL=http://localhost:8000
